#preview_container{

	float: right;

 	 background-color: blue;
	width: 600px;
	height: 600px;
	position: relative;

}

.point{

	background-color: wheat;
	position: absolute;
	width: 100px;
	height: 100px;
}

.point.point0{
	top:50px;
	left: 150px;
}
.point.point1{
	top:50px;
	right: 150px;
}
.point.point2{
	right:50px;
	top: 150px;
}
.point.point3{
	right:50px;
	bottom: 150px;
}
.point.point4{
	bottom:50px;
	right: 150px;
}
.point.point5{
	bottom:50px;
	left: 150px;
}
.point.point6{
	left:50px;
	bottom: 150px;
}
.point.point7{
	left:50px;
	top: 150px;
}
svg.preview{
	left:150px;
	top: 150px;
	background-color: rgb(66, 50, 20);
	position: absolute;
	width: 300px;
	height: 300px;
}

.intersection0{
	background-color: antiquewhite;
	left:50px;
	top: 50px;
}
.intersection1{
	background-color: antiquewhite;
	right:50px;
	top: 50px;
}
.intersection2{
	background-color: antiquewhite;
	right:50px;
	bottom: 50px;
}
.intersection3{
	background-color: antiquewhite;
	left:50px;
	bottom: 50px;
}